<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoop.daoother.SysRoleDao">

	<resultMap id="userMap" type="com.zoop.entity.SysRole">
		<id column="role_id" property="roleId"/>
		<result column="role_name" property="roleName"/>
	</resultMap>

	<select id="list" resultMap="userMap">
		select * from sys_role
	</select>
	
</mapper>